
/*This entire CSS file is CSS external styling which can be used on any page in the program.*/
/*A transforming technique that smoothly changes the text color from orangered to orange to yellow to yellowgreen.*/
@keyframes textChange {
    0% {color: orangered;}
    30% {color: orange;}
    70% {color: yellow;}
    100% {color: yellowgreen;}
}
/* A transforming technique that smoothly changes the color of the border from white to darkgrey to black.*/
@keyframes borderChange {
    0% {border-color: white;}
    30% {border-color: darkgrey;}
    70% {border-color: rgb(65, 65, 65);}
    100% {border-color: black;}
}
/*A CSS transform that rotates an item 360 degrees (used for the images on each page).*/
@keyframes rotateScale { 
    0% { 
        transform: rotate(0deg) scale(1); 
    } 
    50% { 
        transform: rotate(180deg) scale(1); 
    } 
    100% { 
        transform: rotate(360deg) scale(1); 
    } 
} 
/*Images in the specific class will perform rotateScale for 5 seconds linearly.*/
img.specific { 
    animation: rotateScale 5s linear; 
} 
/*Specific image ids for each page to determine size and font-size (the pictures next to each page's title).*/
#index1 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#index2 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#hobby1 {
    float:none;
    width:200px;
    height:160px;
    font-size: 25px;
}
#hobby2 {
    float:none;
    width:130px;
    height:170px;
    font-size: 25px;
}
#event1 {
    float:none;
    width:100px;
    height:170px;
    font-size: 25px;
}
#event2 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#photo1 {
    float:none;
    width:130px;
    height:170px;
    font-size: 25px;
}
#photo2 {
    float:none;
    width:130px;
    height:170px;
    font-size: 25px;
}
#place1 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#place2 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#christ1 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#christ2 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#contact1 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
#contact2 {
    float:none;
    width:140px;
    height:170px;
    font-size: 25px;
}
/*All of the CSS style sheets that determine the style of each attribute listed*/
/*Used for body, nav, h1, p, button, ul, table, tr, th, and td. Some of them include textChange or borderChange from above.*/
body {
    background-color: powderblue;
}

nav {
    font-family:'Trebuchet MS'; 
    font-size: 25px; 
    color: orangered; 
    text-align: center;
}

h1 {
    font-family:'Trebuchet MS'; 
    text-align:center; 
    font-size:75px; 
    color:orangered;
    animation-name: textChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

p {
    font-family: 'Trebuchet MS';
     font-size:25px;
     color:orangered;
}

button {
    font-family:'Trebuchet MS'; 
    color: orangered; 
    float:none; 
    width: 350px; 
    height: 100px; 
    font-size: 30px;
    animation-name: textChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

ul {
    font-family:'Trebuchet MS'; 
    text-align:center; 
    color: orangered; 
    list-style-type:none;
    animation-name: textChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

table {
    height: 300px; 
    width: 1500px; 
    border: 4px double white; 
    border-collapse: collapse; 
    font-family:'Trebuchet MS'; 
    color:orangered;
    animation-name: borderChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

tr {
    border: 4px double white;
    font-size: 30px;
    font-family:'Trebuchet MS';
    animation-name: borderChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

th {
    border: 4px double white;
    animation-name: borderChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

td {
    border: 4px double white;
    animation-name: borderChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h3 {
    font-family: 'Trebuchet MS';
    font-size:40px;
    color:white;
}
